body {

    font-family: 'Mulish', sans-serif;

}

* {
    padding: 0;
    margin: 0;
}

/* nav bar start */
 .header {
    max-width: 81%;
    margin: 50px auto;

}


.nav-header {
    display: flex;
    justify-content: space-between;
   

}

.nav-containt {
    display: flex;
    gap: 16px;
}

.nav-containt h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;



}

span {
    color: #ff5400;


}

.nav-list>ul {
    display: flex;
    list-style: none;



}


.nav-list a {
    text-decoration: none;
    margin-left: 20px;
    color: #424247;
    font-size: 1.15rem;
    font-weight: 400;
 }
 @media screen and (max-width:600px){
    .nav-header{
        flex-direction: column;

    }
    .nav-list{
        display: none;
    }
    

    
 }

/* navbar end */
/* banner start */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/first.png.png');
    width: 81%;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px auto;


}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.banner-content {
    width: 60%;
}

.banner-content h1 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;

}

.banner-content p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;

}

.banner-input {
    /* width:800px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* align-items: flex-start; */
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 0;
    margin-bottom: 3 0px;
}

#input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    background: #FFF;
    border: 0;

}

.primary-button {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
    background: #FF5400;
    border: 0;


}

@media screen and (max-width:600px) {
    .banner-input {
        flex-direction: column;

    }

    .banner {
        width: 90%;
        height: auto;
    }

    .banner-content h1 {
        font-size: 1.5rem;
    }


}

/* banner end */
/* popular section start */
.popular {
    width: 81%;
    margin: 80px auto;

}

.popular {
    display: flex;
    justify-content: space-between;

}



.popular-content {
    width: 45%;

}

.popular h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 80px;

}

.popular p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;


}

.popular-button {
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    margin-bottom: 20px;


}

.popular-img {
    width: 50%;

}

.popular-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

@media screen and (max-width:600px) {
    .popular {
        flex-direction: column;
    }

    .popular h2 {
        font-size: 1.5rem;
    }

    .popular-content {
        width: auto;
    }

    .popular-img {
        width: auto;

    }

}

/* popular section end */
/* desitanition start */

.destination {
    width: 81%;
    margin: 80px auto;
}


.destination h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;

}

.destination p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
}




.img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    position: relative;


}

.img-container h3 {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;


}

.grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;


}

.grid-item-3 {
    grid-column: 1/span 3;
    grid-row: 2/span 1;



}

.grid-item-4 {
    grid-column: 4/span 6;
    grid-row: 2/span 1;


}

.grid-item-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;


}

.grid-item-6 {
    grid-column: 1/span 4;
    grid-row: 3/span 1;


}

.grid-item-7 {
    grid-column: 5/span 8;
    grid-row: 3/span 1;


}

@media screen and (max-width:600px) {
    .destination h2 {
        font-size: 1.5rem;
    }

    .img-container {
        display: block;
    }

    .img-container img {
        height: 11rem;
    }


}

/* destination end */
/* choose start */
.choose {
    width: 81%;
    margin: 80px auto;
}

.choose-container {

    display: flex;
    flex-direction: column;
    align-items: center;

}


.choose-text h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;

}

.choose-text {
    width: 48%;
}

.choose-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;

}


.choose .choose-item {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;

}


.choose-item-1 {
    width: 48%;
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);



}

.choose-item-2 {
    width: 48%;
    padding: 2rem;
    border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05); 

}

.choose-item-3 {
    width: 48%;
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-item-1 p,
.choose-item-2 p,
.choose-item-3 p {
    text-align: start;
}

@media screen and (max-width:600px) {
    .choose-item {
        flex-direction: column;
    }

    .choose-item-1,.choose-item-2,.choose-item-3 {
        width: 90%;
    }

    .choose-text h2 {
        font-size: 1.5rem;
    }

    .choose-text p {
        font-size: .8rem;

    }

}

/* choose end */
/* newsleter start */
.newsletter {
    width: 81%;
    margin: 80px auto;

}

.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.containt {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image {

    width: 60%;
    height: 422px;
    border-radius: 16px;
    background: url('../Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
}

.image .discount-tag {
    width: 18.25rem;
    height: 7.5rem;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-right: .2rem;
}

.image .discount-tag p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.image .discount-tag b {
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.text {
    width: 90%;
}

.horaijontal1 {
    width: 90%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.containt h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;



}

.containt p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

#new-input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    width: 90%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;


}

.new-button {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    width: 90%;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    margin-top: 0;
    margin-bottom: 20px;

}

@media screen and (max-width:600px) {
    .newsletter {
        flex-direction: column;
    }

    .containt {
        width: 100%;
    }

    .image {
        width: 100%;
    }

}

/* end newsletter */

/* bonus section start */
.bonus{
    width: 81%;
    margin: 80px auto;
    display: flex;
    gap: 10px;
    
   
}
.bonus-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 50%;
}
.bonus-img img{
    height: 250px;
    width: 100%;
    border-radius: 16px;
}
.bonus-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bonus-content h3{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;


}
.bonus-content p{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;

}
@media screen and (max-width:600px){
    .bonus{
        flex-direction: column;

        
    }
    .bonus-img{
        width: 100%;
    }
    .bonus-content{
        width: 100%;
    }
    .bonus-img{
        grid-template-columns: 1fr;
    }
    
    

    
}


/* footer start  */
.footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-containt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 16px;

}

.footer-containt h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

span {
    color: #ff5400;


}

.footer-para {
    width: 70%;
}

.footer-para p {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;


}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.horaijontal {
    width: 80%;
    height: 1px;
}

.footer-last {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-last p {
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
}

/* footer end */